<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Agar fayl yoki papka mavjud bo‘lsa, uni och
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Boshqa barcha so‘rovlarni index.html ga yo‘naltir
  RewriteRule ^.*$ index.html [L]
</IfModule>
